# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Build output
dist/
build/
.next/
out/

# Prisma
.prisma/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

*.zip
*.zip